.tab-item-container {
  padding-right: 4px;
}

@media screen and (min-width: 992px) {
  .tab-item-container {
    padding-right: 24px;
  }
}

.tab-btn {
  font-family: 'Roboto';
  color: #9aa5b1;
  font-weight: 500;
  font-size: 16px;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  .tab-btn {
    font-size: 24px;
  }
}

.tab-btn {
  position: relative;
  padding-bottom: 8px;
  color: #3e4c59;
}

.tab-btn::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #0b69ff;
  transition: width 0.3s ease;
}

.tab-btn.active::after {
  width: 100%;
}
